.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #01a850;
  padding: 0;
  transform: translateX(0);
  // width: 80%;
  /* intro elements */
  .intro__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  /* logo */
  .logo {
    width: 55%;
    max-width: 230px;
  }

  /* customize */
  .title1,
  .title2 {
    margin: 2px 0;
    text-align: center;
  }
  .title2 {
    font-size: 20px;
    font-weight: 400;
  }
  .title1 {
    font-size: 25px;
    font-weight: 600;
    // max-width: 400px;
    background: linear-gradient(to right, #fcfddc, #f0f961);
    background: -webkit-linear-gradient(to right, #f0f961, #fcfddc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // @media screen and (min-width:{
      
    // }
  }
  .drag {
    font-size: 16px;
  }
}
