@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@font-face {
  font-family: Vazir;
  src: url("./resources/fonts/Vazir.eot");
  src: url("./resources/fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("./resources/fonts/Vazir.woff") format("woff"), url("./resources/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./resources/fonts/Vazir-Bold.eot");
  src: url("./resources/fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("./resources/fonts/Vazir-Bold.woff") format("woff"), url("./resources/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Vazir;
  src: url("./resources/fonts/Vazir-Light.eot");
  src: url("./resources/fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("./resources/fonts/Vazir-Light.woff") format("woff"), url("./resources/fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Rezvan;
  src: url("./resources/fonts/aRezvan-Fat.ttf") format("truetype");
}
div,
h1,
h2,
h3,
p,
span {
  font-family: "Vazir";
  font-weight: normal;
}

/* colors */
/* border radius */
/*slide template */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Vazir";
}

body {
  direction: rtl;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.slider-Wrapper {
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.slider {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  padding: 2.5rem 1.5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
.slider:nth-child(1) {
  left: 0%;
}
.slider:nth-child(2) {
  left: -100%;
}
.slider:nth-child(3) {
  left: -200%;
}
.slider:nth-child(4) {
  left: -300%;
}
.slider:nth-child(5) {
  left: -400%;
}
.slider:nth-child(6) {
  left: -500%;
}
.slider:nth-child(7) {
  left: -600%;
}
.slider:nth-child(8) {
  left: -700%;
}
.slider:nth-child(9) {
  left: -800%;
}
.slider:nth-child(10) {
  left: -900%;
}
.slider:nth-child(11) {
  left: -1000%;
}
.slider:nth-child(1) .pagination .pagination__button:nth-of-type(1) {
  opacity: 0.95;
}
.slider:nth-child(2) .pagination .pagination__button:nth-of-type(2) {
  opacity: 0.95;
}
.slider:nth-child(3) .pagination .pagination__button:nth-of-type(3) {
  opacity: 0.95;
}
.slider:nth-child(4) .pagination .pagination__button:nth-of-type(4) {
  opacity: 0.95;
}
.slider:nth-child(5) .pagination .pagination__button:nth-of-type(5) {
  opacity: 0.95;
}
.slider:nth-child(6) .pagination .pagination__button:nth-of-type(6) {
  opacity: 0.95;
}
.slider:nth-child(7) .pagination .pagination__button:nth-of-type(7) {
  opacity: 0.95;
}
.slider:nth-child(8) .pagination .pagination__button:nth-of-type(8) {
  opacity: 0.95;
}
.slider:nth-child(9) .pagination .pagination__button:nth-of-type(9) {
  opacity: 0.95;
}
.slider:nth-child(10) .pagination .pagination__button:nth-of-type(10) {
  opacity: 0.95;
}
.slider:nth-child(11) .pagination .pagination__button:nth-of-type(11) {
  opacity: 0.95;
}

/* we define a container class to 
enable the min-height abbility
and also let the slider's overflow y work correctly
 */
.container {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #363535;
  font-size: 13px;
  min-width: 241px;
  min-height: 60px;
  width: 85%;
  /* text-align: right; */
  padding: 10px 15px;
  margin: 10px 5px;
  background: #fffcf9;
  border-radius: 1em;
  position: relative;
  /* display: inline-block;*/
}
@media screen and (min-width: 470px) {
  .message {
    font-size: 15px;
    max-width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .message {
    font-size: 15px;
    max-width: 500px;
  }
}

div.message::after {
  display: block;
  background: url(/vendors/img/intro/felech.svg) no-repeat;
  position: absolute;
  height: 13px;
  width: 20px;
  bottom: -13px;
  left: 20px;
  content: " ";
}
.message--right {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.message--right::after {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  left: auto;
  right: 20px;
}

.message--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* pagination's styling */
.pagination {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-evenly;
  z-index: 1;
  min-width: 270px;
  max-width: 360px;
}
.pagination .pagination__button:nth-of-type(1) {
  margin: 0 !important;
}

.pagination__button {
  -webkit-box-shadow: 0px 0px 8px 0px black;
  box-shadow: 0px 0px 8px 0px black;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  z-index: 10;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background: white;
  opacity: 0.4;
  border: none;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.pagination__button:active {
  opacity: 0.95;
}
@media screen and (min-width: 450px) {
  .pagination__button {
    width: 20px;
    height: 20px;
  }
}
@media screen and (hover: hover) {
  .pagination__button:hover {
    opacity: 0.95;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.pagination__button--right,
.pagination__button--left {
  position: fixed;
  margin: 0;
  top: 50%;
  color: #444444;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 450px) {
  .pagination__button--right,
.pagination__button--left {
    width: 60px;
    height: 60px;
  }
}

.pagination__button--right {
  right: 0.5em;
  display: none;
}
@media screen and (min-width: 450px) {
  .pagination__button--right {
    right: 1.9em;
  }
}
@media screen and (min-width: 635px) {
  .pagination__button--right {
    right: 2.7em;
  }
}
@media screen and (min-width: 860px) {
  .pagination__button--right {
    right: 3.7em;
  }
}

.pagination__button--left {
  left: 0.5em;
}
@media screen and (min-width: 450px) {
  .pagination__button--left {
    left: 1.9em;
  }
}
@media screen and (min-width: 635px) {
  .pagination__button--left {
    left: 2.7em;
  }
}
@media screen and (min-width: 860px) {
  .pagination__button--left {
    left: 3.7em;
  }
}

.physicalEducation .container .physicalEducation__intro .chat, .golestan .container .golestan__mainElements .chat, .universityEmail .container .chat {
  width: 90%;
  min-width: 200px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  max-width: 365px;
  margin-bottom: 1em;
}

.intro {
  background: #01a850;
}
.intro .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* logo */
  /* headers */
}
.intro .container .logo {
  width: 55%;
  max-width: 230px;
  margin-bottom: 10px;
}
.intro .container .title1,
.intro .container .title2 {
  margin: 2px 0;
  text-align: center;
}
.intro .container .title2 {
  font-size: 20px;
  font-weight: 400;
}
.intro .container .title1 {
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(to right, #fcfddc, #f0f961);
  background: -webkit-linear-gradient(to right, #f0f961, #fcfddc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro .container .intro__goLeft {
  font-size: 16px;
  font-weight: 600;
  background: none;
  border: 2px solid #fffcf9;
  border-radius: 1em;
  cursor: pointer;
  margin: 10px 0;
  outline: none;
  transition: transform 0.2s ease-in;
}
@media screen and (hover: hover) {
  .intro .container .intro__goLeft:hover {
    transform: scale(1.1);
  }
}

.internetInfo {
  background: #fadb0b;
}
.internetInfo .container {
  display: grid;
  grid-template-columns: 95%;
  row-gap: 1.5em;
  justify-content: center;
}
@media screen and (min-width: 700px) {
  .internetInfo .container {
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 900px) {
  .internetInfo .container {
    justify-content: center;
  }
}
.internetInfo .container .internetPackages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.internetInfo .container .internetPackages .internetPackages__item--bachelors {
  width: 25%;
  max-width: 93px;
  margin-right: 1em;
}
.internetInfo .container .internetPackages .internetPackages__item--masters {
  width: 30%;
  max-width: 112px;
}
.internetInfo .container .internetPackages .internetPackages__item--phd {
  width: 35%;
  max-width: 131px;
  margin-left: 1em;
}
@media screen and (min-width: 700px) {
  .internetInfo .container .internetPackages {
    grid-column: 1;
    grid-row: 1;
    flex-direction: column;
  }
  .internetInfo .container .internetPackages .internetPackages__item {
    margin: 0;
  }
  .internetInfo .container .internetPackages .internetPackages__item--bachelors {
    width: 75%;
    max-width: 120px;
  }
  .internetInfo .container .internetPackages .internetPackages__item--masters {
    width: 85%;
    max-width: 135px;
  }
  .internetInfo .container .internetPackages .internetPackages__item--phd {
    width: 95%;
    max-width: 145px;
  }
}
.internetInfo .container .wifi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.internetInfo .container .wifi .wifi__logo {
  max-width: 95px;
  width: 25%;
  margin-left: 5px;
  display: inline-block;
}
.internetInfo .container .wifi .wifi__text {
  width: 70%;
  max-width: 270px;
  display: inline-block;
}
.internetInfo .container .wifi .wifi__text * {
  text-align: center;
  margin: 0;
}
.internetInfo .container .wifi .wifi__text h1 {
  font-weight: bold;
  font-size: 25px;
  max-width: 400px;
  background: linear-gradient(to right, #23418b, #e7028c);
  background: -webkit-linear-gradient(to right, #23418b, #e7028c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.internetInfo .container .wifi .wifi__text h2 {
  font-size: 20px;
  color: #1438cc;
}
@media screen and (min-width: 500px) {
  .internetInfo .container .wifi .wifi__logo {
    max-width: 100px;
  }
}
@media screen and (min-width: 700px) {
  .internetInfo .container .wifi {
    flex-direction: column;
    grid-column: 3;
    grid-row: 1;
  }
  .internetInfo .container .wifi .wifi__logo {
    width: 100%;
    max-width: 125px;
  }
}
.internetInfo .container .chat {
  width: 90%;
  min-width: 200px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  max-width: 365px;
  margin-bottom: 1em;
}
.internetInfo .container .chat #changePasswordLink {
  flex-direction: column;
}
.internetInfo .container .chat #changePasswordLink a {
  text-decoration: none;
  color: #ceb404;
  font-weight: 500;
}
@media screen and (hover: hover) {
  .internetInfo .container .chat #changePasswordLink a:hover {
    color: #837203;
  }
}

.universityEmail {
  background: #4a4a4a;
}
.universityEmail .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* chat box */
}
@media screen and (min-width: 700px) {
  .universityEmail .container {
    flex-direction: row;
  }
}
.universityEmail .container .email {
  position: relative;
  display: flex;
  margin-top: 1rem;
  width: 140px;
}
.universityEmail .container .email img[alt=hat] {
  z-index: 1;
  position: absolute;
  top: -30px;
  right: 0px;
  width: 75%;
  height: auto;
}
.universityEmail .container .email img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 700px) {
  .universityEmail .container .email {
    width: 30%;
    max-width: 235px;
    min-width: 190px;
  }
}
.universityEmail .container .emailtext {
  position: relative;
  display: flex;
}
.universityEmail .container .emailtext h2 {
  font-weight: bold;
  color: #fefefe;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .universityEmail .container .emailtext {
    width: 100px;
  }
  .universityEmail .container .emailtext h2 {
    margin: 0 1.3rem;
  }
}
.universityEmail .container .message a {
  text-decoration: none;
  color: #8a8a8a;
  font-weight: 500;
}
@media screen and (hover: hover) {
  .universityEmail .container .message a:hover {
    color: #646464;
  }
}

.softwareBank {
  background: #ececec;
}
.softwareBank .container {
  /* put all of the styles here :: joon baba */
}
.softwareBank .container .grid {
  margin: 10px;
  display: grid;
  grid: auto/auto;
  justify-content: center;
  align-content: center;
}
@media screen and (min-width: 1080px) {
  .softwareBank .container .grid {
    grid: auto/auto auto auto;
    margin: 5%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1080px) {
  .softwareBank .container .grid {
    grid: auto/auto auto;
    margin: 5%;
  }
}
.softwareBank .container .grid .message {
  margin: 1em auto;
}
.softwareBank .container .grid .card:hover {
  transform: rotate(1deg) scale(1.05);
}
.softwareBank .container .grid .card {
  margin: 10px;
  padding: 1em 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.softwareBank .container .grid .card a {
  text-decoration: none;
  color: lightgray;
  font-weight: 500;
}
@media screen and (hover: hover) {
  .softwareBank .container .grid .card a:hover {
    color: #acacac;
  }
}
.softwareBank .container .grid .card h1 {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  font-family: Rezvan, sans-serif;
  transition: 0.5s;
  margin: 10px 0;
}
.softwareBank .container .grid .card img {
  transition: 0.5s;
  max-width: 100%;
  display: block;
  padding: 5px;
  margin: 0 auto;
}
.softwareBank .container .grid .card h1:hover, .softwareBank .container .grid .card img:hover {
  transform: scale(1.05);
}
.softwareBank .container .grid .khu-portal {
  background-color: #fbffb988;
}
.softwareBank .container .grid .khu-portal h1 {
  color: #535353;
}
.softwareBank .container .grid .antivirus {
  background-color: #f9e1ab88;
}
.softwareBank .container .grid .sbank {
  background-color: #d5d9ff88;
}
.softwareBank .container .grid .sbank h1 {
  color: #010892;
  font-size: 52px;
}
.softwareBank .container .grid .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.golestan {
  background: #23ddbb;
}
.golestan .container {
  /* put all the styles here */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.golestan .container a {
  text-decoration: none;
  color: #1bb296;
  font-weight: 500;
}
@media screen and (hover: hover) {
  .golestan .container a:hover {
    color: #116f5e;
  }
}
.golestan .container .golestan__header {
  width: 75%;
  max-width: 180px;
}
.golestan .container .golestan__mainElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  width: 98%;
  height: 100%;
  max-width: 530px;
}
@media screen and (min-width: 700px) {
  .golestan .container .golestan__mainElements {
    max-width: unset;
    flex-direction: row;
  }
}
.golestan .container .golestan__mainElements .golestan__title {
  margin: 2em 0;
  color: #515151;
  display: grid;
  grid-template-columns: auto;
  row-gap: 3em;
  width: 100%;
}
@media screen and (min-width: 374px) {
  .golestan .container .golestan__mainElements .golestan__title {
    grid-template-columns: 47% 47%;
    column-gap: 1.5em;
  }
}
@media screen and (min-width: 425px) {
  .golestan .container .golestan__mainElements .golestan__title {
    column-gap: 1em;
  }
}
@media screen and (min-width: 700px) {
  .golestan .container .golestan__mainElements .golestan__title {
    grid-template-columns: auto;
    row-gap: 2.5em;
    column-gap: unset;
    margin: 0;
    width: 50%;
    max-width: 315px;
    height: 100%;
  }
}
@media screen and (min-width: 800px) {
  .golestan .container .golestan__mainElements .golestan__title {
    row-gap: 1.75em;
  }
}
.golestan .container .golestan__mainElements .golestan__title figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 374px) {
  .golestan .container .golestan__mainElements .golestan__title figure {
    justify-content: space-between;
  }
}
@media screen and (min-width: 700px) {
  .golestan .container .golestan__mainElements .golestan__title figure {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.golestan .container .golestan__mainElements .golestan__title figure embed {
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 700px) {
  .golestan .container .golestan__mainElements .golestan__title figure embed {
    margin-left: 0.9em;
  }
}
.golestan .container .golestan__mainElements .golestan__title figure figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  height: 50%;
}
@media screen and (min-width: 700px) {
  .golestan .container .golestan__mainElements .golestan__title figure figcaption {
    align-items: flex-start;
    height: 100%;
  }
}
.golestan .container .golestan__mainElements .golestan__title figure figcaption a {
  text-decoration: none;
  color: #0e594b;
  font-weight: 500;
  font-weight: bold;
}
@media screen and (hover: hover) {
  .golestan .container .golestan__mainElements .golestan__title figure figcaption a:hover {
    color: #041713;
  }
}
.golestan .container .golestan__mainElements .golestan__title figure figcaption h2 {
  color: #654614;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.2em 0;
}
.golestan .container .golestan__mainElements .golestan__title figure figcaption span {
  font-size: 0.67em;
}
@media screen and (min-width: 374px) {
  .golestan .container .golestan__mainElements .golestan__title figure figcaption {
    font-size: 1em;
  }
  .golestan .container .golestan__mainElements .golestan__title figure figcaption h2 {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 700px) {
  .golestan .container .golestan__mainElements .chat {
    width: 60%;
    max-width: 500px;
    margin-bottom: 0;
  }
}

.library {
  background: #112256;
}
.library .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.library .container h1 {
  background: -moz-linear-gradient(top, #ffffff 23%, #f6f6f6 55%, #ffc66c 40%, #ffc66c 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(23%, #ffffff), color-stop(55%, #f6f6f6), color-stop(40%, #ffc66c), color-stop(100%, #ffc66c));
  background: -webkit-linear-gradient(top, #ffffff 23%, #f6f6f6 55%, #ffc66c 40%, #ffc66c 100%);
  background: -o-linear-gradient(top, #ffffff 23%, #f6f6f6 55%, #ffc66c 40%, #ffc66c 100%);
  background: -ms-linear-gradient(top, #ffffff 23%, #f6f6f6 55%, #ffc66c 40%, #ffc66c 100%);
  background: linear-gradient(to bottom, #ffffff 23%, #f6f6f6 55%, #ffc66c 40%, #ffc66c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Rezvan, sans-serif;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.library .container .library__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .library .container .library__container {
    flex-direction: row;
  }
}
.library .container .library__container .library__url {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 700px) {
  .library .container .library__container .library__url {
    margin-left: 25px;
  }
}
.library .container .library__container .library__url a {
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.library .container .library__container .library__url div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #ffc66c;
  width: 61%;
  margin-left: 10px;
}
.library .container .library__container .library__url div img {
  width: 50px;
  margin-left: 14px;
}
@media screen and (min-width: 700px) {
  .library .container .library__container .library__url div {
    position: relative;
    top: -20px;
    width: 68%;
    font-size: 1.2rem;
  }
  .library .container .library__container .library__url div img {
    width: 62px;
  }
}
.library .container .library__container .message a {
  text-decoration: none;
  color: #8099e6;
  font-weight: 500;
}
@media screen and (hover: hover) {
  .library .container .library__container .message a:hover {
    color: #4066d9;
  }
}

.mealAutomation {
  background: #f00038;
}
.mealAutomation .container {
  /* put all the styles here */
}

.dormitory {
  background: #ffc600;
}
.dormitory .container {
  /* put all the styles here */
}

.physicalEducation {
  background: #2862a3;
}
.physicalEducation .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
@media screen and (min-width: 710px) {
  .physicalEducation .container {
    flex-direction: row;
    justify-content: center;
  }
}
.physicalEducation .container .physicalEducation__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.physicalEducation .container .physicalEducation__intro h1 {
  font-family: Rezvan, sans-serif;
  text-align: center;
  color: white;
}
.physicalEducation .container .physicalEducation__intro .chat {
  width: 100%;
}
@media screen and (min-width: 710px) {
  .physicalEducation .container .physicalEducation__intro {
    margin-left: 2.5rem;
    align-items: flex-start;
  }
  .physicalEducation .container .physicalEducation__intro h1 {
    font-size: 2.3rem;
  }
}
.physicalEducation .container .physicalEducation__features * {
  font-size: 1.1rem;
  color: white;
  font-family: Rezvan, sans-serif;
}
@media screen and (min-width: 710px) {
  .physicalEducation .container .physicalEducation__features {
    font-size: 1.4rem;
    position: relative;
    top: 45px;
  }
}
.physicalEducation .container .physicalEducation__features .physicalEducation__featureItem {
  margin-bottom: 15px;
}
.physicalEducation .container .physicalEducation__features .physicalEducation__featureItem .physicalEducation__featureItem__title {
  color: #ffc600;
  font-size: 1.3rem;
}
@media screen and (min-width: 374px) {
  .physicalEducation .container .physicalEducation__features .physicalEducation__featureItem .physicalEducation__featureItem__title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 780px) {
  .physicalEducation .container .physicalEducation__features .physicalEducation__featureItem .physicalEducation__featureItem__title {
    font-size: 1.8rem;
  }
}
.physicalEducation .container .physicalEducation__features .physicalEducation__featureItem:last-of-type {
  display: flex;
  justify-content: flex-start;
}
.physicalEducation .container .physicalEducation__features .physicalEducation__featureItem:last-of-type .physicalEducation__featureItem--seperator {
  width: 50%;
}
.physicalEducation .container .physicalEducation__features .physicalEducation__featureItem:last-of-type .physicalEducation__featureItem--seperator:nth-child(1) {
  border-left: 6px solid white;
}
.physicalEducation .container .physicalEducation__features .physicalEducation__featureItem:last-of-type .physicalEducation__featureItem--seperator:nth-child(2) {
  position: relative;
  top: 14px;
  margin-right: 4%;
}
.physicalEducation .container .physicalEducation__features .physicalEducation__featureItem:last-of-type .physicalEducation__featureItem--seperator:nth-child(2) p:first-of-type {
  margin-top: 0;
}
@media screen and (min-width: 365px) {
  .physicalEducation .container .physicalEducation__features .physicalEducation__featureItem:last-of-type .physicalEducation__featureItem--seperator:nth-child(2) {
    margin-right: 6%;
  }
}
@media screen and (min-width: 365px) {
  .physicalEducation .container .physicalEducation__features .physicalEducation__featureItem:last-of-type .physicalEducation__featureItem--seperator {
    width: 45%;
  }
}

.studentLoan {
  background: #d10e8e;
}
.studentLoan .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .studentLoan .container {
    flex-direction: row;
    justify-content: center;
  }
}
.studentLoan .container .studentLoan__header * {
  text-align: center;
}
.studentLoan .container .studentLoan__header p {
  color: white;
  max-width: 340px;
}
.studentLoan .container .studentLoan__header h1 {
  font-size: 1.7em;
  font-family: Rezvan, sans-serif;
  color: #fdff65;
}
.studentLoan .container .studentLoan__header h1 span {
  font-family: Rezvan, sans-serif;
  font-size: 1.6em;
}
@media screen and (min-width: 700px) {
  .studentLoan .container .studentLoan__header {
    position: relative;
    top: -48px;
    margin-left: 2.5rem;
  }
  .studentLoan .container .studentLoan__header * {
    text-align: right;
  }
}
.studentLoan .container .message a {
  text-decoration: none;
  color: #f022a9;
  font-weight: 500;
}
@media screen and (hover: hover) {
  .studentLoan .container .message a:hover {
    color: #b90c7e;
  }
}
@media screen and (min-width: 700px) {
  .studentLoan .container .message {
    margin-left: 0;
    max-width: 350px;
  }
}

.footer {
  background: #ececec;
}
.footer .container {
  /* put all the styles here */
}

/* end slide template */
/*messege box template */

/*# sourceMappingURL=main.css.map */
