@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@font-face {
  font-family: Vazir;
  src: url("/resources/fonts/Vazir.eot");
  src: url("/resources/fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/Vazir.woff") format("woff"), url("/resources/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Vazir;
  src: url("/resources/fonts/Vazir-Bold.eot");
  src: url("/resources/fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/Vazir-Bold.woff") format("woff"), url("/resources/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Vazir;
  src: url("/resources/fonts/Vazir-Light.eot");
  src: url("/resources/fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/Vazir-Light.woff") format("woff"), url("/resources/fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
}
div,
h1,
h2,
h3,
p,
span {
  font-family: "Vazir";
  font-weight: normal;
}

/* colors */
/*slide template */
body {
  direction: rtl;
  font-family: "Vazir";
  margin: 0;
  overflow: hidden;
  color: #fff;
}

.snap {
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
}

.slide {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  text-align: center;
  padding: 2rem 2rem;
}

/* test class for testing purposes only */
.test {
  background-color: black;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #01a850;
  padding: 0;
  width: 80%;
  /* intro elements */
  /* logo */
  /* customize */
}
.intro .intro__elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.intro .logo {
  width: 55%;
  max-width: 230px;
}
.intro .msgbox {
  color: #363535;
  font-size: 12pt;
  max-width: 600px;
  min-width: 200px;
  min-height: 20px;
  text-align: right;
  padding: 10px 15px;
  margin: 10px 5px;
  background: #fffcf9;
  border-radius: 1em;
  display: inline-block;
}
.intro .msgbox::after {
  background: url(/vendors/img/intro/felech.png) no-repeat;
  position: relative;
  height: 13px;
  top: 20px;
  content: " ";
  display: block;
}
.intro .imsg::after {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.intro .title1,
.intro .title2 {
  font-weight: 300;
  font-size: 32px;
  margin: 2px auto;
  font-weight: normal;
}
.intro .title2 {
  font-size: 22px;
  font-weight: 300;
}
.intro .title1 {
  max-width: 400px;
  background: linear-gradient(to right, #fcfddc, #f0f961);
  background: -webkit-linear-gradient(to right, #f0f961, #fcfddc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro .drag {
  font-size: 16px;
}

.internetInfo {
  background: #fadb0b;
}

.universityEmail {
  background: coral;
}

.softwareBank {
  background: dodgerblue;
}

.golestan {
  background: lightgreen;
}

.library {
  background: hotpink;
}

/* end slide template */
/*messege box template */

/*# sourceMappingURL=main.css.map */
