/*slide template */
body {
  direction: rtl;
  font-family: "Vazir";
  margin: 0;
  overflow: hidden;
  color: #fff;
}

.snap {
  min-height: 650px;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
}

.slide {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  text-align: center;
  padding: 2rem 2rem;
}

.msgbox {
  float:left;
  color: #363535;
  font-size: 12pt;
  max-width: 600px;
  min-width: 200px;
  min-height: 20px;
  text-align: right;
  padding: 10px 15px;
  margin: 10px 5px;
  background: #fffcf9;
  border-radius:$messageBoxBorderRadius;
  display: inline-block;
}
.msgbox::after {
  background: url(/vendors/img/intro/felech.png) no-repeat;
  position: relative;
  height: 13px;
  top: 20px;
  content: " ";
  display: block;
}
.imsg{
  float:right;
}
.imsg::after {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* test class for testing purposes only */
.test {
  background-color: black;
}
