/*slide template */
body {
  direction: rtl;
  font-family: "Vazir";
  margin: 0;
  overflow: hidden;
  color: #fff;
}

.snap {
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
}

.slide {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  text-align: center;
  padding: 2rem 2rem;
}

/* test class for testing purposes only */
.test {
  background-color: black;
}
